html, body {
    color: white;
    background-color: #21232A;
}

button {
    padding: 10px;
    font-size: 1.3rem;
    margin-right: 10px;
}

.contenedor-botones {
    display: flex;
    align-items: center;
}